body {
    font-size: 18px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #f9f9f9;
    margin: auto;
    overflow-x: hidden;
    min-width: 700px;
}

#topbar{
    margin-top: -70px;
}

#main{
    width: 1000px;
    margin: auto;
    margin-top: 70px;
}

#main img{
    width: 400px;
    margin-top: 20px;
}

#main h1{
    margin-left: 30px;
    display: inline;
    position: absolute;
}

#main h2{
    margin-left: 30px;
    display: inline;
    margin-top: 80px;
    position: absolute;
}

.avgClass{
    display: inline;
    margin-top: 80px;
    position: absolute;
}

#main p{
    margin-left: 30px;
    display: inline;
    margin-top: 125px;
    position: absolute;
}

#restID {
    display: none;
}

#review{
    margin-top: 40px;
}

form{
    width: 1000px;
    margin: auto;
}

input{
    display: block;
    height: 35px;
}

input[type="text"]{
    width: 400px;
    height: 35px;
}

input[type="msg"]{
    width: 600px;
    height: 200px;
}

input[type="submit"]{
    margin-top: 60px;
    width: 100px;
}

textarea{
    margin-top: 20px;
    width: 600px;
    height: 200px;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: absolute;
    margin-top: 250px;
    margin-left: -600px;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
