body {
    font-size: 18px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #f9f9f9;
    margin: auto;
    overflow-x: hidden;
    min-width: 700px;
}

#FormNewRestaurant {
    margin-top: 70px;
}

#FormNewRestaurant form {
    min-width: 400px;
}

#FormNewRestaurant form label {
    margin-left: 40%;
}

#FormNewRestaurant form input {
    min-width: 300px;
    width: 300px;
    height: 27px;
    border-radius: 6px;
    border: 1px solid #4b8f29;
    display: block;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0.1% 0.6%;
}

#FormNewRestaurant form input:invalid {
    border: 1px solid red;
}

#Intro img {
    z-index: -10;
    margin: auto;
    width: 100%;
    height: 1000px;
    max-width: 2800px;
}

#Intro {
    margin: auto;
}

#Intro h1 {
    width: 1000px;
    color: white;
    margin-top: -360px;
    margin-left: 35%;
    position: absolute;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 2px 0px #414A58;
}
