body {
    font-size: 18px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #f9f9f9;
    margin: auto;
    overflow-x: hidden;
    min-width: 700px;
}

#topbar{
    margin-top: -70px;
}

#main{
    width: 1000px;
    margin: auto;
    margin-top: 70px;
}

#main img{
    width: 350px;
    margin-top: 20px;
}

#main h1{
    margin-left: 30px;
    display: inline;
    position: absolute;
}

#main h2{
    margin-left: 30px;
    display: inline;
    margin-top: 110px;
    position: absolute;
}

#main a {
    text-decoration: none;
    color: currentColor;
    margin-left: 30px;
    margin-top: 235px;
    position: absolute;
}

#main h2:nth-child(3){
    position: absolute;
    margin-top: 70px;
}

.avgClass{
    display: inline;
    margin-top: 80px;
    position: absolute;
}

#main p{
    margin-left: 30px;
    display: inline;
    margin-top: 150px;
    position: absolute;
}

#reviews{
    width: 1000px;
    margin: auto;
}

.review{
    height: 130px;
}
.review p:first-child{
    margin-left: 00px;
    position: absolute;
    margin-top: 45px;
    font-size: 22px;
}

.review  h2 {
    margin-left: 150px;
}

.review p{
    margin-left: 150px;
}

.revClass{
    float: right;
    margin-right: 60px;
    margin-top: -45px;
    font-size: 28px;
}

#mapid {
    height: 250px;
    width: 250px;
    margin-left: 750px;
    margin-top: -250px;
}

#mapid p{
    display: none;
}
