body {
    font-size: 18px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #f9f9f9;
    margin: auto;
    overflow-x: hidden;
    min-width: 700px;
}

#topbar{
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    /* background: #42ad3c;*/
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 15;
    min-width: 750px;
  	border:1px solid #4b8f29;
    text-shadow:0px 1px 1px #5b8a3c;
    box-shadow: 0px 6px 10px -7px #3e7327;
    padding:6px 12px;
    margin-top: -70px;
}


#topbar #topbar-login{
    text-align: right;
    font-size: 18px;
    display: inline-block;
    width: 10%;
    min-width: 150px;
}

#topbar h1{
    margin: 0 auto;
    display: inline-block;
    width:25%;
    min-width: 200px;
    margin-left: 5px;
}

#searchbar {
    display: inline-block;
    transform: translateY(-5px);
    width:50%;
    min-width: 300px;
}

#searchbar form{
  width: 40%;
  margin:auto;
  min-width: 300px;
}


#searchbar input{
    width: 300px;
    height: 27px;
    border-radius: 6px;
    border:1px solid #4b8f29;
}

#main{
    width: 1000px;
    margin: auto;
    margin-top: 70px;
}

#main img{
    width: 400px;
    margin-top: 20px;
}

#main h1{
    margin-left: 30px;
    display: inline;
    position: absolute;
}

#main h2{
    margin-left: 30px;
    display: inline;
    margin-top: 80px;
    position: absolute;
}

.avgClass{
    display: inline;
    margin-top: 80px;
    position: absolute;
}

#main p{
    margin-left: 30px;
    display: inline;
    margin-top: 125px;
    position: absolute;
}

#reviews{
    width: 1000px;
    margin: auto;
}

.review{
    height: 130px;
}
.review p:first-child{
    margin-left: 00px;
    position: absolute;
    margin-top: 45px;
    font-size: 22px;
}

.review  h2 {
    margin-left: 150px;
}

.review p{
    margin-left: 150px;
}

.revClass{
    float: right;
    margin-right: 60px;
    margin-top: -45px;
    font-size: 28px;
}
