
#topbar{
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    /* background: #42ad3c;*/
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 15;
    min-width: 750px;
  	border:1px solid #4b8f29;
    text-shadow:0px 1px 1px #5b8a3c;
    box-shadow: 0px 6px 10px -7px #3e7327;
    padding:6px 12px;
}


#topbar #topbar-login{
    text-align: right;
    font-size: 18px;

    display: inline-block;
    width: 10%;
    min-width: 150px;


}

#topbar a{
    color: currentColor;
    text-decoration: none;
}

#topbar h1{
    margin: 0 auto;
    display: inline-block;
    width:25%;
    min-width: 200px;
    margin-left: 5px;
}

#searchbar {
    display: inline-block;
    transform: translateY(-5px);
    width:50%;
    min-width: 300px;
}

#searchbar form{
  width: 40%;
  margin:auto;
  min-width: 300px;
}


#searchbar input{
    width: 300px;
    height: 27px;
    border-radius: 6px;
    border:1px solid #4b8f29;
}


.dropdown-content{
    display: none;
    position: absolute;
    margin-left: 27px;
}

.dropbtn{
    background-color: inherit;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 19px;
}

.topbar-login{
    position: relative;
    display: inline-block;
}

.dropdown-content a{
    text-decoration: none;
    color: black;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 157px;;
    text-shadow: 0px;
    background-color: #f9f9f9;
    font-size: 15px;
}

.dropbtn:hover, .dropbtn:focus{
    background-color: #618c4e;
}

.show {
    display:block;
}

.dropdown-content a:hover {
    background-color: #c2c2c2;
}
